Please fill up the following
* Student Name: Bhargavi Madakasira
* Student ID: 10150114
* Student Email ID: bhargavi.bdapm10150114@spjain.org
* Student GitHub Repo URL: https://github.com/Mbs12

# DPSC Assignment 1

## Instructions

For each of the tasks below, write relevant R code in the cells and execute the cells before submission.

### Problem 1

Is the following a DataFrame?

control | pre-heated | pre-chilled
-------- | ---------- | ----------
5.9 | 5.8  | 6.1
6.2 | 7.3  | 6.3
8.2 | 5.4  | 7.1
5.8 | 6.3  | 6.9

**Ans: **No, it is not a data frame. In a data frame, all the elements in the same column must be the measures of the same metric and each column must represent a different metric. From the above table it can be inferred that all the columns represent the same metric,temperature. These are different types of a single metric temperature. And each row must represent a single item. A single item of each row cannot have three kinds of temperature( control,pre-heated,pre-chilled) at the same time. It would have been a data frame if the data is classified into two columns : Temperature and Temperature state.

### Problem 2

Import the *titanic.csv* file (present in the *data* folder of the repository, don't move it elsewhere or your pull request will be rejected) and create a statistical summary of the variables. Read the DataFrame into a variable called *titanic*.

In [1]:
titanic <- read.csv("/home/bhargavi/Bhargavi/Git/bdap2015/data/titanic.csv", header = TRUE, stringsAsFactors = TRUE)
summary(titanic)

  PassengerId       Survived          Pclass
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000
 Median :446.0   Median :0.0000   Median :3.000
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

                                    Name         Sex           Age
 Abbing, Mr. Anthony                  :  1   female:314   Min.   : 0.42
 Abbott, Mr. Rossmore Edward          :  1   male  :577   1st Qu.:20.12
 Abbott, Mrs. Stanton (Rosa Hunt)     :  1                Median :28.00
 Abelson, Mr. Samuel                  :  1                Mean   :29.70
 Abelson, Mrs. Samuel (Hannah Wizosky):  1                3rd Qu.:38.00
 Adahl, Mr. Mauritz Nils Martin       :  1                Max.   :80.00
 (Other)                              :885                NA's   :177
     SibSp           Parch             Ticket         Fare
 Min.   :0.000   Min.   :0.0000   1601    :  7   Min.   :  0.00
 1st Qu.:0.000   1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91
 Median :0.000   Median :0.0000   CA. 2343:  7   Median : 14.45
 Mean   :0.523   Mean   :0.3816   3101295 :  6   Mean   : 32.20
 3rd Qu.:1.000   3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   CA 2144 :  6   Max.   :512.33
                                  (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186

### Problem 3

For the DataFrame *titanic*

* Calculate the mean of all the numeric columns.
* Add its column sums to the original matrix as an additional row. Use *NA* for non-numeric columns.

In [2]:
titanic <- read.csv("/home/bhargavi/Bhargavi/Git/bdap2015/data/titanic.csv", header = TRUE, stringsAsFactors = TRUE)
print("Following are the means of all numeric columns")

cat("Mean of PassengerId :", mean(titanic$PassengerId, na.rm = TRUE), sep="\n")

cat("Mean of Survived:", mean(titanic$Survived, na.rm = TRUE), sep="\n")

cat("Mean of Pclass:",mean(titanic$Pclass, na.rm = TRUE), sep="\n")

cat("Mean of Age:",mean(titanic$Age, na.rm = TRUE), sep="\n")

cat("Mean of SibSp:",mean(titanic$SibSp, na.rm = TRUE), sep="\n")

cat("Mean of Parch:",mean(titanic$Parch, na.rm = TRUE), sep="\n")

cat("Mean of Fare:",mean(titanic$Fare, na.rm = TRUE), sep="\n")

NewRow <- c(sum(titanic$PassengerId, na.rm = TRUE),
             sum(titanic$Survived, na.rm = TRUE),
             sum(titanic$Pclass, na.rm = TRUE),
             "NA",
             "NA",
             sum(titanic$Age, na.rm = TRUE),
             sum(titanic$SibSp, na.rm = TRUE),
             sum(titanic$Parch, na.rm = TRUE),
             "NA",
             sum(titanic$Fare, na.rm = TRUE),
             "NA",
             "NA")
titanic <- rbind(titanic,NewRow)
tail(titanic)

[1] "Following are the means of all numeric columns"
Mean of PassengerId :
446
Mean of Survived:
0.3838384
Mean of Pclass:
2.308642
Mean of Age:
29.69912
Mean of SibSp:
0.5230079
Mean of Parch:
0.3815937
Mean of Fare:
32.20421

Warning message:
In `[<-.factor`(`*tmp*`, ri, value = "NA"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "NA"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "NA"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "NA"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "NA"): invalid factor level, NA generated

    PassengerId Survived Pclass                                     Name    Sex
887         887        0      2                    Montvila, Rev. Juozas   male
888         888        1      1             Graham, Miss. Margaret Edith female
889         889        0      3 Johnston, Miss. Catherine Helen "Carrie" female
890         890        1      1                    Behr, Mr. Karl Howell   male
891         891        0      3                      Dooley, Mr. Patrick   male
892      397386      342   2057                                     <NA>   <NA>
         Age SibSp Parch     Ticket       Fare Cabin Embarked
887       27     0     0     211536         13              S
888       19     0     0     112053         30   B42        S
889     <NA>     1     2 W./C. 6607      23.45              S
890       26     0     0     111369         30  C148        C
891       32     0     0     370376       7.75              Q
892 21205.17   466   340       <NA> 28693.9493  <NA>     <NA>