Please fill up the following
* Student Name: Viraj
* Student ID: 10150108
* Student Email ID: viraj.bdapm10150108@spjain.org
* Student GitHub Repo URL: https://github.com/DataTasteMaker/

# DPSC Assignment 1

## Instructions

For each of the tasks below, write relevant R code in the cells and execute the cells before submission.

### Problem 1

Is the following a DataFrame?

control | pre-heated | pre-chilled
-------- | ---------- | ----------
5.9 | 5.8  | 6.1
6.2 | 7.3  | 6.3
8.2 | 5.4  | 7.1
5.8 | 6.3  | 6.9

**Ans: **

### Problem 2

Import the *titanic.csv* file (present in the *data* folder of the repository, don't move it elsewhere or your pull request will be rejected) and create a statistical summary of the variables. Read the DataFrame into a variable called *titanic*.

In [2]:
rm(list=ls())
# Read the CSV file from the data folder
# the file has headers, so we have to inform read.csv() about the same
# All the string values are convereted to factors using stringsAsFactors = TRUE
titanic <- read.csv("/home/hduser/Documents/myGitDataTasteMaker/bdap2015/Design Patterns in Statistical Computing/data/titanic.csv",header = TRUE, stringsAsFactors = TRUE)

#Coerce the values of below 3 variables as factor
titanic$Survived <- as.factor(titanic$Survived)
titanic$Pclass <- as.factor(titanic$Pclass)
titanic$Embarked <- as.factor(titanic$Embarked)

# Refered to some websites and understood the below two variables are as below:
# http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/Ctitanic3.html
#SibSp == No. of Siblings and Spouses on board
#Parch == No. of Parents or Children on board

# Coercing these to factor actually helps in understanding the summary well
titanic$SibSp <- as.factor(titanic$SibSp)
titanic$Parch <- as.factor(titanic$Parch)

# Print the summary
summary(titanic)

  PassengerId    Survived Pclass                                     Name
 Min.   :  1.0   0:549    1:216   Abbing, Mr. Anthony                  :  1
 1st Qu.:223.5   1:342    2:184   Abbott, Mr. Rossmore Edward          :  1
 Median :446.0            3:491   Abbott, Mrs. Stanton (Rosa Hunt)     :  1
 Mean   :446.0                    Abelson, Mr. Samuel                  :  1
 3rd Qu.:668.5                    Abelson, Mrs. Samuel (Hannah Wizosky):  1
 Max.   :891.0                    Adahl, Mr. Mauritz Nils Martin       :  1
                                  (Other)                              :885
     Sex           Age        SibSp   Parch        Ticket         Fare
 female:314   Min.   : 0.42   0:608   0:678   1601    :  7   Min.   :  0.00
 male  :577   1st Qu.:20.12   1:209   1:118   347082  :  7   1st Qu.:  7.91
              Median :28.00   2: 28   2: 80   CA. 2343:  7   Median : 14.45
              Mean   :29.70   3: 16   3:  5   3101295 :  6   Mean   : 32.20
              3rd Qu.:38.00   4: 18   4:  4   347088  :  6   3rd Qu.: 31.00
              Max.   :80.00   5:  5   5:  5   CA 2144 :  6   Max.   :512.33
              NA's   :177     8:  7   6:  1   (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186

### Problem 3

For the DataFrame *titanic*

* Calculate the mean of all the numeric columns.
* Add its column sums to the original matrix as an additional row. Use *NA* for non-numeric columns.

In [5]:
## Create variables to store Mean for Age and Fare - all numeric variables
mnAge <- mean(titanic$Age, na.rm = TRUE)
mnFare <- mean(titanic$Fare, na.rm = TRUE)
print (paste("Mean for Age ", mnAge))
print (paste("Mean for Fare ", mnFare))
#Get the position of columns to help us put the data in the Data Frame
colnames(titanic)

# Create a vector of concatenated list of NAs and Mean values
#convert SibSp and Parch to numeric to help calculate the SUM
titanic$SibSp <- as.integer(titanic$SibSp)
titanic$Parch <- as.integer(titanic$Parch)
addRec <- c(sum(titanic$PassengerId, na.rm = TRUE),NA,NA,NA,NA,sum(titanic$Age, na.rm = TRUE), sum(titanic$SibSp, na.rm = TRUE), sum(titanic$Parch, na.rm = TRUE), NA, sum(titanic$Fare, na.rm = TRUE), NA,NA)

#Bind the vector to the Data FRame and create a new one
titanicMod <- rbind(titanic, addRec)
tail(titanicMod)

[1] "Mean for Age  29.6991176470588"
[1] "Mean for Fare  32.2042079685746"

 [1] "PassengerId" "Survived"    "Pclass"      "Name"        "Sex"
 [6] "Age"         "SibSp"       "Parch"       "Ticket"      "Fare"
[11] "Cabin"       "Embarked"

    PassengerId Survived Pclass                                     Name    Sex
887         887        0      2                    Montvila, Rev. Juozas   male
888         888        1      1             Graham, Miss. Margaret Edith female
889         889        0      3 Johnston, Miss. Catherine Helen "Carrie" female
890         890        1      1                    Behr, Mr. Karl Howell   male
891         891        0      3                      Dooley, Mr. Patrick   male
892      397386     <NA>   <NA>                                     <NA>   <NA>
         Age SibSp Parch     Ticket     Fare Cabin Embarked
887    27.00     1     1     211536    13.00              S
888    19.00     1     1     112053    30.00   B42        S
889       NA     2     3 W./C. 6607    23.45              S
890    26.00     1     1     111369    30.00  C148        C
891    32.00     1     1     370376     7.75              Q
892 21205.17  1343  1231       <NA> 28693.95  <NA>     <NA>